<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/personal">
                Personal
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/Cargos">
                Cargos
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/Salud">
                Fondos de Salud
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/Pension">
                Fondos de pensión
            </button>
        </div>
    </div>
</div>
